{% extends 'general_main.html' %}
{% load static %}
{% block title %}
General booking page
{% endblock %}

{% block content %}

<!--
<input type="hidden" id="Location_booking" value="">
<input type="hidden" id="Room_ID_booking" value="">
<input type="hidden" id="Date_booking" value="">
<input type="hidden" id="Time_slot_booking" value="">
-->


<head>
<style>
input[type="radio"] {
  margin-right: 8px;
  vertical-align: middle;
}

label {
  vertical-align: middle;
}

button {
  margin-top: 10px; /* Adds some space above the button for better layout */
}
.hidden {
  display: none;
}
</style>
</head>




<body>
{{data}}
{{request_info.POST}}
<h2>Please select your location:</h2>


  <input type="radio" id="Q10_Location" name="L" value="CS1">
  <label for="Q10_Location">CS1 (Q10)</label><br>
  
  <input type="radio" id="DA_Location" name="L" value="CS2">
  <label for="DA_Location">CS2 (DA)</label><br>

<h2>Please select your booking date:</h2>
<input type="date" id="Booking-date" name="Booking-date">




<h2>Please select your room:</h2>
<div id="responseMessage">Please select your location first</div>

<h2>Please select your time slots:</h2>
<svg width="100vh" height="100px" style = "margin-left:10px;">

<rect  name="time_slot" id="08:00–09:00" x="0" y="0" height="50" width="50" style="stroke:black; fill: gray;cursor: pointer;"/>
<rect  name="time_slot" id="09:00–10:00" x="50" y="0" height="50" width="50" style="stroke:black; fill: gray;cursor: pointer;"/>
<rect  name="time_slot" id="10:00–11:00" x="100" y="0" height="50" width="50" style="stroke:black; fill: gray;cursor: pointer;"/>
<rect  name="time_slot" id="11:00–12:00" x="150" y="0" height="50" width="50" style="stroke:black; fill: gray;cursor: pointer;"/>
<rect  name="time_slot" id="12:00–13:00" x="200" y="0" height="50" width="50" style="stroke:black; fill: gray;cursor: pointer;"/>
<rect  name="time_slot" id="13:00–14:00" x="250" y="0" height="50" width="50" style="stroke:black; fill: gray;cursor: pointer;"/>
<rect  name="time_slot" id="14:00–15:00" x="300" y="0" height="50" width="50" style="stroke:black; fill: gray;cursor: pointer;"/>
<rect  name="time_slot" id="15:00–16:00" x="350" y="0" height="50" width="50" style="stroke:black; fill: gray;cursor: pointer;"/>
<rect  name="time_slot" id="16:00–17:00" x="400" y="0" height="50" width="50" style="stroke:black; fill: gray;cursor: pointer;"/>
<rect  name="time_slot" id="17:00–18:00" x="450" y="0" height="50" width="50" style="stroke:black; fill: gray;cursor: pointer;"/>
<rect  name="time_slot" id="18:00–19:00" x="500" y="0" height="50" width="50" style="stroke:black; fill: gray;cursor: pointer;"/>  

<text x="0" y="80">8h</text>
<text x="50" y="80">9</text>
<text x="100" y="80">10</text>
<text x="150" y="80">11</text>
<text x="200" y="80">12</text>
<text x="250" y="80">13</text>
<text x="300" y="80">14</text>
<text x="350" y="80">15</text>
<text x="400" y="80">16</text>
<text x="450" y="80">17</text>
<text x="500" y="80">18</text>
<text x="550" y="80">19h</text> 
</svg>

<br>
<form method="POST" action="">
{% csrf_token %}
<input type="hidden" id="Location_booking" name = "Location_booking" value="" required>
<input type="hidden" id="Room_ID_booking" name = "Room_ID_booking" value="" required>
<input type="hidden" id="Date_booking" name = "Date_booking" value="" required>
<input type="hidden" id="Time_slot_booking" name = "Time_slot_booking" value="" required>
<button id = "confirm-booking" type="submit"> Confirm booking </button>
</form>
<div id="responseMessage2"></div>


<!-- "https://code.jquery.com/jquery-3.6.0.min.js"-->
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script>
        $(document).ready(function() {			
			$('input[name="Booking-date"]').change(function() {
			let selectedDate = $(this).val();
			console.log("Booking date has been selected: " + selectedDate);
			document.getElementById("Date_booking").value = this.value;
			})
			
			
			
			
			
			
			
			$('input[name="L"]').click(function() {
				document.getElementById("Location_booking").value = this.value;
				console.log(this.value);
				let userInput = this.value;
                $.ajax({
                    url: "Ajax0",
                    method: "POST",
                    data: {
                        userInput: userInput,
                        csrfmiddlewaretoken: '{{ csrf_token }}'  // Include CSRF token
                    },
                    success: function(response) {
                        // Display a success message
                        //$('#responseMessage').text(response.message);
						//console.log("running");
						if (response)
							document.getElementById("responseMessage").innerHTML = response;
						else
							console.log("response is null");
                    },
                    error: function() {
                        // Handle errors
                        alert('An error occurred while submitting the form.');
                    }
                });
			});
			

			
			$(document).on('click', 'rect[name="room"]', function() {
			let current = document.getElementById("Room_ID_booking");
			let previousRect = document.getElementById(current.value);
			if (previousRect) {
				$(previousRect).css('fill', 'gray'); // Set the previous rect's fill to gray
			}	
			$(this).css('fill', 'blue');
			document.getElementById("Room_ID_booking").value = this.id;
			
			
			let userInput = 0;
			$.ajax({
				url: "Ajax1",
				method: "POST",
				data: {
					userInput: userInput,
					csrfmiddlewaretoken: '{{ csrf_token }}'  // Include CSRF token
				},
				success: function(response) {
					console.log('summit ok');
					let input = response.message;
					console.log(input);
					console.log(typeof input);
					for (let i=0;i<input.length;i++){
						let temp = 't' + input[i];
						console.log (temp);
						let Element = document.getElementById(temp);
						$(Element).css('fill', 'red');

						//console.log ($(Element).css('fill') == "rgb(255, 0, 0)")
					}
				},
				error: function() {
					// Handle errors
					alert('An error occurred while submitting the form.');
				}
                });
			});
			
			
			/*
			$(document).on('click', 'rect[name="time_slot"]', function() {
			let current = document.getElementById("Time_slot_booking");
			

			if ($(this).css('fill') == "rgb(255, 0, 0)"){//red
				document.getElementById("Time_slot_booking").value = "";
			}
			else if ($(this).css('fill') == "rgb(0, 0, 255)"){//blue
				$(this).css('fill', 'gray');
				let a = document.getElementById("Time_slot_booking").value;
				document.getElementById("Time_slot_booking").value = a.replaceAll(this.id, '');
			}
			else{
				$(this).css('fill', 'blue');
				document.getElementById("Time_slot_booking").value = document.getElementById("Time_slot_booking").value + this.id;
			}
			console.log(document.getElementById("Time_slot_booking").value);
			
			
			let userInput = 0;
			$.ajax({
				url: "Ajax2",
				method: "POST",
				data: {
					userInput: userInput,
					csrfmiddlewaretoken: '{{ csrf_token }}'  // Include CSRF token
				},
				success: function(response) {
					console.log('summit ok');
					let input = response.message;
					console.log(input);
					
				},
				error: function() {
					// Handle errors
					alert('An error occurred while submitting the form.');
				}
                });
			
			});*/
			$(document).on('click', 'rect[name="time_slot"]', function() {
			let current = document.getElementById("Time_slot_booking");
			let previousRect = document.getElementById(current.value);
			if (previousRect) {
				$(previousRect).css('fill', 'gray'); // Set the previous rect's fill to gray
			}

			if ($(this).css('fill') == "rgb(255, 0, 0)"){
				document.getElementById("Time_slot_booking").value = "";
			}
			else{
				$(this).css('fill', 'blue');
				document.getElementById("Time_slot_booking").value = this.id;
			}
			
			});
			
			$(document).on('click', 'button[id="confirm-booking"]', function() {
			//console.log("button hit");
			if (document.getElementById("Time_slot_booking").value && document.getElementById("Location_booking").value && document.getElementById("Date_booking").value && document.getElementById("Room_ID_booking").value){
				console.log("enough");
			}
			else{
				console.log("NOT enogugh");
			}
			console.log(document.getElementById("Time_slot_booking").value);
			console.log(document.getElementById("Location_booking").value);
			console.log(document.getElementById("Date_booking").value);
			console.log(document.getElementById("Room_ID_booking").value);
			});
        });
    </script>
{% endblock %}




<!--

<!DOCTYPE html>
<html> 
<head>
<style>
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: block; /* Show the dropdown by default */
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: none; /* Hide the dropdown when hovered */
}
</style>
</head>
<body>

<h2>Hoverable Dropdown</h2>
<p>Move the mouse over the text below to hide the dropdown content.</p>

<div class="dropdown">
  <span>Mouse over me</span>
  <div class="dropdown-content">
    <p>Hello World!</p>
  </div>
</div>
<div>
x
</div>

</body>
</html>
-->